.App {
  text-align: center;
}

.navbar {
  background-color: black;
  padding: 5, 0, 5, 0;
}

.App-MainWindow {
  background-color: white;
}

.App-SideWindow {
  background-color: lightblue;
}

/*.button {*/
  /*display: block;*/
  /*width: 115px;*/
  /*height: 25px;*/
  /*background: #4E9CAF;*/
  /*padding: 10px;*/
  /*text-align: center;*/
  /*border-radius: 5px;*/
  /*color: white;*/
  /*font-weight: bold;*/
/*}*/
