.App {
  text-align: center;
}

.App-Navbar {
  background-color: #222;
  height: 30;
  color: white;
}

.App-MainWindow {
  background-color: lightgrey;
}

.App-SideWindow {
  background-color: salmon;
}

