body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.navbarColor {
  background-color: #1A535C;

}

.mainWindowColor {
  background-color: #F7FFF7;

}

.sideWindowColor {
  background-color: #FFE66D;

}

.bannerColor {
  background-color: #4ECDC4;
}

.btn {
  background-color: #FF6B6B;
}
